<div class="wrapper">
  <div class="main-panel">
    <app-navbar [showSideBarToggler]=false [showMenuToggler]=false></app-navbar>
    <div class=" sub-wrapper col-md-12">
      <div class=" card">
        <div class=" card-body">
          <br />
          <!-- Banner -->
          <section id="banner">
            <div class="inner">
              <h1>Welcome to BetParser</h1>
              <p>A fully responsive surebet forecaster by EmaMarcoFricaTrina</p>
              <br />
              <br />
              <div class="centered">
                <button [routerLink]="['/bets/analysis']" class=" btn btn-success btn-block">
                  Start
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <br />
    <br />
    <app-footer></app-footer>
  </div>
</div>
<app-fixed-plugin [canChangeSidebarColor]=false [canChangeDashboardColor]=true></app-fixed-plugin>