.highlight {
    color: green !important;
    font-weight: 600;
}

.table-responsive {
    overflow-x: auto;
    overflow-y: auto;
}

.transparent {
    opacity: 0.4;
}

.no-padding {
    padding: 0;
}

.quote-values-table {
    margin: auto;
}

.quote-values-table-cell {
    border: none;
    padding: 0.5rem;
    text-align: left;
}