<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Sure Bets</h4>
          <p class="category">Ranked from Top to Worst</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter" id="">
              <thead class="text-primary">
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Match</th>
                  <th class="text-center">Starts</th>
                  <th class="text-center">Quote Group</th>
                  <th class="text-center">Quote Values<br/>(Bookmakers)</th>
                  <th class="text-center">Odds Inverse Sum</th>
                  <th class="text-center">Margin Percentage</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sureBet of sureBets; let i = index">
                  <td class="text-center">{{ i + 1 }}</td>
                  <td class="text-center">{{ sureBet.MatchName }}</td>
                  <td class="text-center">{{ sureBet.StartDateTime }}</td>
                  <td class="text-center">{{ sureBet.Type.Name }}</td>
                  <td class="text-center no-padding">
                    <table class="quote-values-table">
                      <tbody>
                        <ng-container *ngFor="let quote of sureBet.Quotes; let j = index">
                          <tr>
                            <td class="quote-values-table-cell">
                                <b>{{ sureBet.Type.subTypes[j] }}:</b> {{ quote.value }}
                            </td>
                            <td class="quote-values-table-cell">
                                <span class="transparent">{{ ' [' + quote.key.join(', ') + ']' }}</span>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </td>
                  <td class="text-center">{{ sureBet.OddsInverseSum }}</td>
                  <td class="text-center">{{ sureBet.MarginPercentage + '%' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>