.highlight {
    color: green !important;
    font-weight: 600;
}

.table-responsive {
    overflow-x: auto;
    overflow-y: auto;
}

.table-header, .table-sub-header {
    font-size: larger;
}

.table-footer {
    font-size: medium;
}

.not-available {
    opacity: 0.2;
}