<div class="content">
  <div class="row">
    <div *ngFor="let matchGroup of matchGroups" class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{ matchGroup.Date }}</h4>
          <p class="category">Matchday</p>
        </div>
        <div class="card-body">
          <div *ngFor="let match of matchGroup.children" class="card">
            <div class="card-header">
              <h4 class="card-title">{{ match.Name }}</h4>
            </div>
            <div class="card-body">
              <p class="category">
                <b>STARTS:</b> {{ match.getStartDateTime() }}
                <span *ngIf="match.isRealTime()">
                  , <b>REAL TIME:</b> {{ match.RealTime }}, <b>RESULT:</b> {{
                  match.Result }}
                </span>
              </p>
              <p class="category">
                <b>TEAM 1:</b> {{ match.Team1 }}, <b>TEAM 2:</b> {{ match.Team2
                }}
              </p>
              <br>
              <h4>Odds Comparison</h4>
              <div class="table-responsive">
                <table class="table tablesorter" id="">
                  <thead class="text-primary">
                    <tr>
                      <th class="text-center table-header">Event</th>
                      <th *ngFor="let bmInfo of match.children"
                        class="text-center table-header">{{ bmInfo.Bookmaker }}</th>
                    </tr>
                  </thead>
                  <tbody>
                   <ng-container *ngFor="let quoteGroupType of quoteGroupTypes">
                      <br/>
                      <tr>
                            <td class="text-center table-sub-header"><b>{{ quoteGroupType.Name }}</b></td>
                            <td *ngFor="let bmInfo of match.children"></td>
                        </tr>
                        <ng-container *ngFor="let quoteType of quoteGroupType.subTypes">
                            <tr>
                                <td class="text-center"><b>{{ quoteType.Name }}</b></td>
                                <td *ngFor="let bmInfo of match.children" class="text-center"> 
                                  <span *ngIf="bmInfo.getQuote(quoteGroupType, quoteType); let quote" 
                                  [ngClass]="[!quote.isAvailable ? 'not-available' : '', (quote.isAvailable && 
                                  match.getMaxQuote(quoteGroupType, quoteType).value == quote.Value) ? 'highlight' : '']">
                                    {{ bmInfo.getQuoteValue(quote) }}
                                  </span>
                                </td>
                            </tr>
                        </ng-container>      
                    </ng-container>
                  </tbody>
                </table>
              </div>
              <br/>
              <h4>Surebets Analysis</h4>
              <br/>
              <p *ngIf="match.hasSureBet()" class="category highlight table-footer">
                <b>SUREBET:</b> YES
              </p>
              <p *ngIf="!match.hasSureBet()" class="category table-footer">
                  <b>SUREBET:</b> NO
              </p>
              <br/>
              <p *ngFor="let quoteGroupType of quoteGroupTypes"  
              [ngClass]="[match.isSureBet(quoteGroupType) ? 'highlight' : '']" 
              class="category table-footer">
                <b>{{ quoteGroupType.Name }}:</b>
                <span>
                  => {{ match.getOddsInverseSum(quoteGroupType) | filter_na }} 
                  ({{ match.getMarginPercentage(quoteGroupType) | filter_na | add_percent }})
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>